[user]
    name = kseniy
    email = kseniy94-94@mail.ru
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = simple