---
title: index
---

.RHZMcontainer-fluid

  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable Летом 2007 года я встретил Диану Буркот, куда-то бредущую по Земляному валу с совершенно неприступным видом, в красных кедах, красном платье и красной бейсболке набекрень. Тогда она пела в самой яркой группе московского инди-андерграунда. На исходе зимы 2015 мы сидим, все в черном, на диванчике выставочного зала ГРАУНД «Ходынка» и беседуем о том, как так случилось, что Диана стала одним из самых интересных представителей андерграунда художественного – она участвует в выставках, выступает с перформансами, сама снимает и монтирует клипы к своим песням, фотографирует, играет в двух разных по стилю группах, время от времени выступает с аудиовизуальным проектом rosemary loves a blackberry на различных странных и не очень «молодежных мероприятиях» и учится на отделении видеоарта в Школе Родченко. 
  
  .RHZMrow.illust-holder
    .col-12.offset-0
      %img.illustration{:src => "./assets/images/img3.jpg", :alt => ""}
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Недавно я был на концерте группы моей любимой группы Hellspin, чьи выступления в чем-то напоминают перформанс, и вспомнил, что ты занималась рок-музыкой почти десять лет назад, а теперь занимаешься немножко другими вещами, почему ты к ним пришла?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable 
        – Потому что музыка изначально была (для меня) как некая форма исследования и музыкой по большому счету я все равно параллельно занимаюсь – это, например, группа 
        %a{:href => "http://volna.afisha.ru/heroes/fanni-kaplan-mrachnyy-psihodelicheskiy-rok-iz-moskvy/", :class=>"RHZMa"} «Фанни Каплан»
        можно даже сказать такая ретро-ориентированная по звучанию, я там играю на барабанах именно музыку, а проект rosemary
        %a{:href => "https://www.facebook.com/pages/rosemary-loves-a-blackberry/278560245515218", :class=>"RHZMa"} loves a blackberry 
        – он скорее для экспериментов и я там что хочу, то и ворочу.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Но ты как художник себя ассоциируешь с каким из проектов? У тебя их много.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable 
        – У меня их всего три. «Фанни Каплан» это сугубо музыка, 
        %a{:href => "http://www.youtube.com/watch?v=ycRe-GQiJfM", :class=>"RHZMa"} #ПРИПОЙ
        – это сугубо искусство, там музыка вторична, она используется как форма, а сольник (Rosemary loves a blackberry) он такой пограничный. И там и там нужно находить какие-то компромиссы, как-то коммуницировать, коллаборировать с другими участницами, а тут я сама себе голова и, если мне сегодня захотелось написать песенку – я ее пишу, а завтра позвали на выставку – я думаю, как здорово мне песенки там петь, какое-то высказывание сделать – я это делаю. Это такое – для души…
        
  .RHZMrow
    .col-12.offset-0
      %iframe{:class=> "frame", :src=> "https://www.youtube.com/embed/P-IXJPhNshk", :width=>"560", :height=>"315", :frameborder=>"0"}
  
  .RHZMrow
    .col-7.offset-4
      %p.footnote.rhzm-editable
        Rosemary loves a blackberry    
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Ты ведь начинала как музыкант. Закончив Московский колледж импровизационной музыки, вдруг решила обратиться в Школу Родченко – почему и к кому?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Так уж получилось, что есть определенная категория людей – такие вечные студенты. Всегда хочется куда-то учится ходить, что-то новое познавать… Самообразование – это конечно здорово, но очень тяжело иногда бывает наткнуться именно на то, что нужно и пытаться систематизировано развиваться в эту сторону. И получилось, что я закончила колледж, на самом деле я еще хочу туда дальше пойти поучиться, но на тот момент я вынесла оттуда все что могла, и захотелось пойти учиться еще куда-нибудь, потому что в принципе все эти занятия – фотография, видео, музыка – было что-то такое несознательное и делала я все это как-то кустарно, а хотелось определенного понимания, что именно я делаю и зачем – как-то систематизировано влиться в определенный ряд развития музыки, как искусства, потому что я уже стала интересоваться, что же такое музыка и музыка в современном искусстве в том числе, наткнулась на Школу Родченко совершенно случайно, как-то можно считать  на спор сдала документы и вот пошла учиться.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – А кто твой куратор и как называется специальность?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – В Школе сейчас есть четыре курса официальных. Это документальная фотография, еще какая-то фотография, что-то вроде концептуальной у Владислава Ефимова, медиа-арт и видеоарт/ инсталяция. Я пошла на видеоарт, потому что я интересовалась в большей степени видео – музыку я, грубо говоря, уже понимала и знала, видео у меня оставалось как хобби, а хотелось что-то посерьезней. Я пошла на видеоарт к Кириллу Преображенскому, о чем пожалела сто миллионов раз (смеется), потому что он мне не нравится, он плохой преподаватель.
  .RHZMrow
    .col-7.offset-4
      %img.illustration.picture_in_box{:src => "./assets/images/pripoy.jpg", :alt => ""}
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – А кто бы был хорошим преподавателем, Ай Вэйвэй?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable - Кто это? (смеется)
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold - Ты уже участвовала в коллективных выставках несколько раз я так понимаю. Был какой-то резонанс с твоими работами, ты выделяешься на фоне остальных участников процесса? Как тебе кажется?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Ты имеешь в виду, вписана ли я как художник в это движение «московских молодых художников»? 
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Например!
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Пока так себе. Все равно это на каком-то студенческом уровне и желать чего-то большего в принципе пока я ну не то, что не в праве - было бы неправильно - потому что я так или иначе остаюсь пока что в статусе студента и это налагает на меня определенные такие шаблоны и поведения в том числе и отношения о мне со стороны кураторов или каких-то заинтересованных лиц. Вот когда я этот диплом сдам через пару месяцев, то уже будет другое отношение – есть же все равно определенные понятия, в которых все мыслят и кураторы, которые занимаются организацией выставок на биеннале зовут или персональные выставки организовывают – для них очень важно, где ты учился, у кого ты учился, что-то ты закончил-не закончил и так далее. Даже если в качестве студента я где-то выставляюсь, все равно там есть такое – негласный штамп – что это все-таки студенческая работа и пока ко мне нет такого отношения, как к серьезному художнику.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Но ты себя таковым ощущаешь? 
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Думаю да (смеется)
  .RHZMrow
    .col-8.offset-4
      %p.main-text.rhzm-editable.bold 
        – Меня всегда интересовали очень яркие и выделяющиеся из общей массы явления в искусстве, но наши юные дарования не часто находят в себе силы как-то убедительно высказаться. Твои вещи кажутся крайне интересными в этом плане. Что тобой движет, когда ты делаешь именно перформанс, там ведь много всяких медиа – и музыка и видео, и какие-то телесные движения – вот замечательный с обручем такой танец необычный… За счет чего это происходит? 
        
  .RHZMrow
    .col-12.offset-0
      %iframe{:class=> "frame", :src=> "https://www.youtube.com/embed/TpJsCJbsjMk", :width=>"560", :height=>"315", :frameborder=>"0"}
  .RHZMrow
    .col-7.offset-4
      %p.footnote.rhzm-editable
        ГЦСИ, выставка
        %a{:href => "http://www.mdfschool.ru/events/all/modus_operandi_ncca/", :class=>"RHZMa"} «Modus operandi»
      
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Чаще всего я отталкиваюсь от определенного контекста. Например, позвали на выставку – я интересуюсь, что это за выставка, под каким она названием, какая тема и в принципе это облегчает очень сильно задачу. Ты знаешь в каком контексте эта тема, ты от нее отталкиваешься, развиваешь – если это была история с обручем, то у девочек там была история такого женского искусства не-феминистического, а просто с  гендерной  такой игрой – вот я девушка, каким образом я должна вести себя в социуме, должна ли я делать вот так вот, а если я хочу делать вот так вот, а вы хотите от меня вот так вот… Я сначала подумала – это про феминизм, и хотела делать другой проект, но пообщавшись с девочками, стало понятно, что это про другое, более хрупкое, кстати. Вот и  я работала с образом того, каким должна быть сейчас девушка-музыкант, какой ее хотят видеть зрители, как они ее воспринимают, какие существуют шаблоны. И у меня возник такой образ красивой девушки с укладкой, длинными стройными ногам,  которая выполняет там что-то, например танцует или очень гибкая – такой набор шаблонов для того, чтобы на девушку было интересно смотреть… Танцевать мне чего-то не хотелось – это было бы несколько неправильно, потому что это не показывало некую абсурдистскую сторону всего этого, что я должна быть в меньшей степени музыкантом, если я занимаюсь музыкой и в большей степени такой цирковой лошадкой, на которую можно посмотреть, полюбоваться, она там чего-то такое делает, ну и заодно там песенки поет – что то в этом духе – поэтому нашла вот самые похабные туфли в стразах у сестры, на большом каблуке, я ходила в них один раз дома, но специально не тренировалась, чтобы как раз таки столкнуться с этой сложностью один на один уже на сцене, одела эти туфли, какой-то обруч и что-то такое делала. Но была определенная взаимосвязь этого визуального ряда с музыкой, потому что в музыке там было много сэмплов, совсем немного живого вокала – когда я говорю просто «ouch», слово типа «больно», потому что ходить на каблуках, делать какую-то укладку, с которой тебе некомфортно, никуда не повернуться нормально, капюшон не одеть, вообще всегда держать осанку, если ты на сцене – все это достаточно больно и непонятно зачем надо.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – То есть это высказывание против социальных норм в отношении женщины, кажется, что это всё неправильно? 
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Ну да, если я занимаюсь музыкой, как оказалось недостаточно просто писать хорошую музыку, тебе при этом нужно обязательно быть симпатичной, как-то классно выглядеть, классно двигаться, быть открытой, общительной, дружелюбной – то есть сам образ должен быть таким, что я должна быть «ми-ми-мишной» ну и так далее…
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold 
        – Мне кажется эта история как-то перешла в перформанс с полароидом? 
       
  .RHZMrow
    .col-12.offset-0
      %iframe{:class=> "frame", :src=> "https://player.vimeo.com/video/116720731", :width=>"560", :height=>"315", :frameborder=>"0"}
      
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Да, это такое уже доведение до абсурда, но там еще замешивается история определенной эклектики настоящего момента. Спеть и станцевать – это конечно здорово и этого от тебя ждут,  но если ты вдруг  еще замешаешь к этому какие-то новые технологии и в какой то момент станцуешь, а в какой-то попоешь и сфотографируешься, а еще и в какой-то момент там прыгнешь в огонь, то это будет еще круче – поэтому там есть четыре основные части – первая это собственно  сам фотоаппарат, второе  это работа с голосом – это вокальная музыка типа «песенки», третья там скорее была такая дискотека с новыми технологиями, я использовала такую штуку, как Ototo – это контроллер, он достаточно распространенный, очень простой и по сути является таким же инструментом, как гитара, но почему-то производит большое впечатление пока что на людей, видимо какое-то время должно пройти… А четвертая была более медитативной, для того, чтоб можно было подумать о том, что только что произошло, потому что это был какой-то каламбур вообще… Ну и собственно, была еще история контекста самой выставки, это была студенческая выставка, все пришли со своей графикой,  живописью, какими-то картинками и так далее. Сейчас такое время, что все мыслят больше визуальными образами, желательно малоинформативными.  Есть видео – это уже нагрузка, желательно, чтобы это была фотография какая-нибудь, очень яркая интересненькая и все такое – на мой взгляд, как раз-таки вот эти полароидные снимки являются верхом чего-то такого очень-очень модного, скажем так, поэтому я использовала именно полароид.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – А ты одна выступала с этим перформансом или были еще твои друзья-коллеги?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Еще была Карина Казарян, с которой мы играем в группе «Фанни Каплан», у нее есть еще свой сольный проект Peekaboo, она потом ставила свою музыку. Как мы туда попали? Нам понравилось мероприятие само, но там не было никакой составляющей…
  .RHZMrow
    .col-7.offset-4
      %img.illustration.picture_in_box{:src => "./assets/images/fanny_kaplan.jpg", :alt => ""}
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Что за мероприятие?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – «Извините, но это еще не всё», так выставка называлась – там все делалось своими руками, но вот не было никакой музыкальной составляющей, и мы туда, грубо говоря, напросились – захотели поработать с тем что мы увидели, девушка которая занималась организацией очень радушно нас приняла и было очень приятно с ней общаться.
  
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – А есть у тебя какие-то коллеги то коллеги по цеху или соратники, с которыми ты чувствуешь духовную связь может быть это русские художники или западные художники?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Вот где-то около года назад я нашла для себя Holly Herndon и она мне пока что еще нравится, не успела разочаровать, в отличие от той же Grimes или FKA Twiggs… проблема одной и второй в том что они находят определенное  виденье как они должны выглядеть внешне, как раз таки вот эта визуальная составляющая, без которой никуда и как должна звучать их музыка, и начинают себя тиражировать – это очень такой капиталистически прием конвейерный, собственно именно этим они меня разочаровали, а Holly Herndon этим не занимается. У нее такой чистый эксперимент, но на очень профессиональном уровне.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Но это же «профессиональные звёзды», поп-певицы, их нельзя назвать художниками, на них работает группа каких-то «креативщиков», которые отвечают за видео, за сценические их вещи…
  .RHZMrow
    .col-7.offset-4
      %img.illustration.picture_in_box{:src => "./assets/images/diana_riot.jpg", :alt => ""}
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Да, но это то, что касалось музыкальной составляющей в искусстве.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – А я имел в виду художников, представителей арт-среды.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Ну есть девушки-перформеры, но они все занимаются высказыванием сугубо – художественные у них цели и задачи и произведения, то есть…
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – То есть ты больше к поп-культуре тяготеешь?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Ну да, я думаю в любом случае ближе к поп-культуре, из-за того, что время такое, поп-культуры на мой взгляд. В общем, не могу привести примера, чтобы была девушка или там мужчина перформер, который занимался музыкальными перформансами. Наверняка они есть, но я вот никого что-то не знаю пока
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold 
        – А вот этот вот деятель по имени Тео Янсен – как тебе удалось там оказываться, ты знакома с ним лично?
  .RHZMrow
    .col-12.offset-0
      %iframe{:class=> "frame", :src=> "https://player.vimeo.com/video/100692231", :width=>"560", :height=>"315", :frameborder=>"0"}      
  .RHZMrow
    .col-7.offset-4
      %p.footnote.main-text.rhzm-editable
        Песенка для животных Тео

       
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable 
        – Нет, я лично с ним не знакома, он приезжал в Москву, когда эта выставка только организовывалась. У него было несколько лекций, но я этого не знала. Получилось случайно – моя подруга там работала, я увидела объявление о том, что ищутся волонтёры и мне показалось все это очень интересным. Устроилась я туда работать не столько ради денег, потому что платили там копейки и как бы это было совершенно вообще не важно, что там какие-то деньги, а исходя из проекта. Мне очень хотелось поэкспериментировать со своей жизнью в качестве художественного материала, устроиться смотрителем выставки, чтобы быть поближе к искусству, к чему я пытаюсь приблизиться, чему учусь, чем занимаюсь ¬– такая ироничная эксплуатация своего тела в сторону желаемого достижения целей художественных. Собственно, изначально я туда устроилась для того чтобы фильм снять документальный, такой видео-дневник. Я его сняла, монтирую и он почти готов, но я не понимаю что с ним делать дальше… 
        .RHZMrow
          .col-12.offset-0
            %iframe{:class=> "frame", :src=> "https://player.vimeo.com/video/113812100", :width=>"560", :height=>"315", :frameborder=>"0"}     
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable 
        Это работа с видео, но у видео есть разные формы: документальный фильм это одна форма, коуб это другая форма, видеоклип третья форма, музыкальный преформанс – это еще какая-то четвертая и, так как у меня было достаточно времени, я пыталась максимум выжать из этой ситуации, потому что через две недели очарование улетучилось и нужно было работать уже с тем, ради чего я туда пошла работать. Собственно, сделала там такие интервенции. Думаю, это «интервенция».
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – То есть никто тебя туда не звал ты просто пришла и сделала что хотела? Отлично!
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Ага
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Ты упомянула про коуб, такая модная штука, которую я не очень понимаю, но ты сказала, что ты записала «первый в мире коуб-альбом» что это за история?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Ну изначально, когда я начала только заниматься всем этим, я сразу поняла, что это какая-то аудиовизуальная история, потому что мне интересно работать и со звуком, и с картинкой вместе взятыми. Почему именно коуб? Соблюдение этого правила в максимально правильной необходимой мне форме, даже видеоклип — это немного другое. В самом начале я хотела сделать аудиовизуальный альбом, но потом выяснилось, что кто-то это уже делал, есть же такая история, что новое поколение художников старается отрицать все, что было сделано до этого, повторять какую-то форму, «аудиовизуальный альбом», не хотелось. Хотелось что-то новое создать и коуб мне интересен тем, что это ресурс именно на территории России – это какая-то русская группа людей, создавшая этот ресурс и это здорово работать с тем, что есть в России, но не «раша-параша», а что-то такое приятное, интересное. Мне нравится, что это маленькие видео, клип это большое что-то, ну как бы среднее, фильм это что-то совсем большое, а коуб – это такая форма…  маленькие такие десятисекундные видео про бесконечность, закольцованные. Тоже определённые рамки, которые уже вдохновляют и интересно в них работать. Я так поняла, что Coub как таковой имеет историю максимум четырех лет, с ней никто ничего не сделал и, по большому счету, использовалось (это дело) либо в качестве любительских каких-то коубов или в качестве рекламы для дополнительной раскрутки, но никто не использовал коуб, как форму современного искусства и я сделала первый релиз можно сказать – мини-альбом такой в коубах.
  .RHZMrow
    .col-7.offset-4
      %img.illustration.picture_in_box{:src => "./assets/images/diana_mem.jpg", :alt => ""}
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Ты как-то его презентовала? Была какая-то вечеринка, выпивали? 
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable 
        – Нет к сожалению. Это какая-то дополнительная организационная работа, у меня нет ни менеджера, ничего такого вот и всеми организационными вопросами мне заниматься не интересно, поэтому я просто выложила в интернет. Но потом на афише-волне 
        %a{:href => "http://volna.afisha.ru/sounds/pleylist-kanikul-radiohead-deymon-albarn-triki-i-drugie-novosti-za-dve-nedeli/", :class=>"RHZMa"} презентовали
        где-то там в самом низу было написано немножко про этот альбом – никакого шума не было, как-то это прошло особо незамеченным, но я не стремлюсь к какой-то особой популярности и медийности, так что мне всё хорошо.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – И ты не чувствуешь какую-то перспективу? Ты просто живешь сегодняшним моментом, как все идет, так идет и у тебя нет амбиций покорить там Нью-Йорк или Париж?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Конечно амбиции у меня есть и их очень много. Амбиций в плане реализации, а не такого спама «вот все слушайте меня и ходите на концерты». Все это очень приятно и важно, но как-то я пока не очень хорошо развиваюсь в эту сторону и не хочу на этом акцентировать. Самое главное – делать какие-то интересные в первую очередь для меня самой работы, но я конечно была бы не против куда ни будь переехать и реализовываться, потому что в России это практически невозможно.

  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Ну ты была за границей насколько я в курсе и даже не раз, даже была в Америке, приключения какие-то с тобой были. Это была поездка туристская или ты следила за арт-средой?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Поездка просто ради расширения горизонта. Интересно, кто как живет и что вообще происходит в мире, в том числе там были и художественные истории. Но это второстепенно, самое главное – вывод который у меня появился после всех путешествий - не стоит забивать себя комплексом провинциала из-за того, что я родилась и живу в России. На самом деле, уровень той же художественной среды в других странах не на много велик, там на много больше конечно поддержка грантов и резиденций и так далее, но, по большому счету, само искусство находится нам на мой взгляд в таком каком-то слишком очевидном направлении и чего-то суперкардинально нового и интересного я для себя не нахожу. Хотя есть куча вдохновляющих вещей.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – ?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Более бытовых. Например, в Берлине, в метро можно делать что угодно, а у нас вообще ничего нельзя и из-за этого ощущаешь себя более свободным человеком, что влияет на тебя и на твое сознание.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Ну, в Берлине не взрывают метро… и мне кажется ощущение того, что ты можешь погибнуть в любой момент, оно как-то обостряет ощущение реальности. Может быть поэтому в России так легко дышится творческим людям?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – в России творческим людям легко находить как раз вдохновляющие вещи как раз политического активистского искусства или со стороны гражданской ответственности, но я бы не сказала, что здесь как-то легко дышится.
  .RHZMrow
    .col-12
      %img.illustration.picture_in_box{:src => "./assets/images/fanny_kaplan2.jpg", :alt => ""}
  .RHZMrow
    .col-12
      %img.illustration.picture_in_box{:src => "./assets/images/fanny_kaplan3.jpg", :alt => ""}
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – А что бы ты посоветовала «юношам, обдумывающим житье»? Стоит им становится художниками?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Художников должно быть все больше и больше потому, что чаще всего художник работает с достаточно сознательной материей, концепцией и так далее и если бы каждый второй был бы художником, то, во-первых, в мире лучше жилось, во-вторых было больше ответственности в отношении того, что ты делаешь, в отношении с окружающим миром. Художник хорош тем – ну настоящий художник – он действительно понимает, что он делает и для чего. Вот этой сознательности конечно не всем хватает.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Тебе хватает?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Так, компромиссно. Приходится находить компромиссы – понимание некоторых вещей не облегчает жизнь — вот, например, не хочу я пользоваться мусорными пакетами, но деваться собственно некуда, даже если я приду и выкину мусор в ведре или бычок выкину в урну, а не оставлю на полу, все равно этот бычок отвезут на какую-то там свалку, из-за этого сознательность только добавляет «горечи бытия», чем исправляет ситуацию.
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable.bold – Ну такой мусор бытовой можно выбросить, а куда девать мусор из головы?
  .RHZMrow
    .col-7.offset-4
      %p.main-text.rhzm-editable – Ну вот, надо бесконечно образовываться. Мне кажется, выход только один - нужно постоянно учиться и учить новую информацию, но не такую бесполезную новую информацию, а мудрую, которая твои мозги шевелит и заставляет тебя расти, как человека. 

